[defaults]
timeout = 15
forks = 10
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=no -o ControlPersist=no -o ServerAliveInterval=5 -o ServerAliveCountMax=2 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
retries = 2
