SUBSYSTEM=="thermal"
KERNEL=="thermal_zone3"

# If the temp hits 70C, higher RPM
ATTR{trip_point_1_temp}="71000"
ATTR{trip_point_1_hyst}="2000"
#
# If the temp hits 60C, higher RPM
ATTR{trip_point_2_temp}="61000"
ATTR{trip_point_2_hyst}="2000"
#
# If the temp hits 50C, turn on the fan
ATTR{trip_point_2_temp}="51000"
ATTR{trip_point_2_hyst}="3000"
#
# If the temp hits 45C, turn on the fan
ATTR{trip_point_3_temp}="46000"
ATTR{trip_point_3_hyst}="4000"
#
# Fan is off otherwise